  <div class="row mb-3">
    <div class="col-md-4">
      <strong>Date:</strong>
      <p><%= session.date %></p>
    </div>
    <div class="col-md-8">
      <strong>Session Name:</strong>
      <p><%= session.name %></p>
    </div>
  </div>