
    <div class="col-4">
      <strong>Date:</strong>
      <p><%= session.date %></p>
    </div>
    <div class="col-4">
      <strong>Session Name:</strong>
      <p><%= session.name %></p>
    </div>
