


      <div class="col-4">
        <strong>Name:</strong>
        <p><%= program.name %></p>
      </div>
      <div class="col-4">
        <strong>Description:</strong>
        <p><%= program.desc %></p>
      </div>

  