

    <div class="row">
      <div class="col-md-4">
        <strong>Name:</strong>
        <p><%= program.name %></p>
      </div>
      <div class="col-md-8">
        <strong>Description:</strong>
        <p><%= program.desc %></p>
      </div>
    </div>
  