
<h1>CHAT FEATURE POSSIBLE!</h1>

<div id="messages"></div>

<form id="chat-form">
  <input type="text" id="chat-input" placeholder="Type message..." autocomplete="off">
  <input type="submit" value="Send">
</form>
