<%= turbo_frame_tag "exercise_#{exercise.id}" do %>
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= exercise.sets %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise.reps %>
  </p>
<% end %>

