<% content_for :title, "New exercise" %>

<h1>New exercise</h1>
<%= turbo_frame_tag "new_#{@workout.id}" do%>
<%= render "programs/workouts/exercises/form", program: @program, workout: @workout, exercise: @exercise %>
<% end %>
<br>

